@font-face {
  font-family: 'angerregular';
  src: url("../../../fonts/font/webfont/st._anger_large_0-webfont.woff2") format("woff2"), url("../../../fonts/font/webfont/st._anger_large_0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

  