@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');


$prompt : 'Prompt', sans-serif;
$nunito : 'Nunito', sans-serif;
$mitr : 'Mitr', sans-serif;
$montserrat : 'Montserrat', sans-serif;
$angerregular : 'angerregular', sans-serif;
