@import 'fonts';

// default template HERE !!!! 

$font_family: 'Montserrat', 'Prompt', sans-serif;
$font_custom: $angerregular;


$font_size: 14px;
$font_title_size: 36px;
$font_maintitle_size: 48px;

$font_weight: 300;
$font_weight_bolder: 400;
$font_weight_bold: 600;
$font_weight_lighter: 200;
$font_weight_light: 100;

$default_line_height: 1.428571429;
$default_title_line_height: 1.2;

$bg_color: #000000;

$bg_color_white: #ffffff;
$bg_color_gray: #ebeff4;

$font_color: #6d6d6d;

$font_color_lighter: lighten($font_color, 8%);
$font_color_light: lighten($font_color, 16%);

$font_color_darker: darken($font_color, 8%);
$font_color_dark: darken($font_color, 16%);

$title_color: #193661;
$text_color: #191919;

$primary: #ff4d16;
$primary_dark: darken($primary, 8%);
$primary_light: lighten($primary, 8%);

// $second_color: #ff4d16;

$success: #2ecc71;
$info: #0dcffb;
$warning: #ee8f35;
$danger: #e53935;
$second: #ff0a36;


$active_color: darken($primary, 8%);

$border_color: #d7e0eb;
$border_color_light: #e6ebe8;

$border_radius: 2px;
$border_radius_lg: 4px;
$border_radius_xs: 0px;

$delay: all 0.3s ease-in-out;

$screen-iphone5 : 320px;

@import 'bootstrap/variables';

$margin: $grid-gutter-width / 2;
$margin_2x: $margin * 2;
$margin_xs: $margin / 2;

$section_margin: $margin * 4;

$border: 2px solid $border_color;



$box_shadow_color: rgba(26, 47, 91, 0.1);
// $box-shadow: -2px 4px 8px rgb(239, 239, 239);
$box_shadow: 0px 5px 20px 0px $box_shadow_color;
$text_shadow: 0 2px 5px rgba(0, 0, 0, 0.6);

$z_index: 1024;
$z_index_2x: $z_index * 2;


$nav_primary_color: #262626;
$nav_text: $font_color;
$main_nav_color : #fafafa;
$main_nav_border_color : $primary;