@import "partials/variables";
@import "partials/bootstrap";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Prompt');

// ##################################
// ##########  HELPCLASS  ##########
// #################################

$gutters: (mt, margin-top),
(mr, margin-right),
(mb, margin-bottom),
(ml, margin-left),
(pt, padding-top),
(pr, padding-right),
(pb, padding-bottom),
(pl, padding-left);
@each $items in $gutters {
  $gutterName: nth($items, 1);
  $gutterAttr: nth($items, 2);
  @include gutter($gutterName, $gutterAttr);
}

// ##################################
// ##########  END HELPCLASS  ##########
// #################################

body{
  background-image: url('./images/bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
  font-family: $font_custom;
  color: #fff; 
}
a{
  &:hover,
  &:focus{
    color: #191919;
    opacity: 0.75;
    text-decoration: none !important;
  }
}
.title{
  font-size: 9rem;
}
.text{
  font-size: 2.5rem;
}
.push_button {
  position: relative;
  min-width: 120px;
  height: 60px;
  text-align:center;
  color:#000;
  text-decoration:none;
  line-height: 80px;
  display: block;
  margin: auto;
  font-size: -webkit-xxx-large;
  &:active{
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
  }
  &:focus{
    outline: none;
  }
  
}
.push_button:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}
.green {
  text-shadow:-1px -1px 0 #5f8829;
  background: #c2e00d;
  border:1px solid #c2e00d;
  
  background-image:-webkit-linear-gradient(top, #5f8829, #c2e00d);
  background-image:-moz-linear-gradient(top, #5f8829, #c2e00d);
  background-image:-ms-linear-gradient(top, #5f8829, #c2e00d);
  background-image:-o-linear-gradient(top, #5f8829, #c2e00d);
  background-image:linear-gradient(to bottom, #5f8829, #c2e00d);
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #5f8829, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #5f8829, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #5f8829, 0 4px 2px rgba(0, 0, 0, .5);
  &:hover {
    background: #5f8829;
    background-image:-webkit-linear-gradient(top, #c2e00d, #5f8829);
    background-image:-moz-linear-gradient(top, #c2e00d, #5f8829);
    background-image:-ms-linear-gradient(top, #c2e00d, #5f8829);
    background-image:-o-linear-gradient(top, #c2e00d, #5f8829);
    background-image:linear-gradient(top, #c2e00d, #5f8829);
  }
}
.red {
  text-shadow:-1px -1px 0 #A84155;
  background: #D25068;
  border:1px solid #D25068;
  
  background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
  background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
  background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
  background-image:-o-linear-gradient(top, #F66C7B, #D25068);
  background-image:linear-gradient(to bottom, #F66C7B, #D25068);
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  &:hover {
    background: #F66C7B;
    background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
    background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
    background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
    background-image:-o-linear-gradient(top, #D25068, #F66C7B);
    background-image:linear-gradient(top, #D25068, #F66C7B);
  }
}

.blue {
  text-shadow:-1px -1px 0 #2C7982;
  background: #3EACBA;
  border:1px solid #379AA4;
  background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
  background-image:linear-gradient(top, #48C6D4, #3EACBA);
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  &:hover {
    background: #48C6D4;
    background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:linear-gradient(top, #3EACBA, #48C6D4);
  }
}

// page 1
#center-page1{
  @extend %flex_text_middle;
  margin-top: 100px;
  .images-list{
    img{
      width: 120px;
    }
  }
}

// page 2
#center-page2{
  @extend %flex_text_middle;
  .push_button{
    margin-top: 60px;
  }
  .images-list{
    margin-top: 60px;
    img{
      width: 80px;
    }
  }
}
#center-page4{
  display: block;
  margin: auto;
  vertical-align: middle;
}
.close{
  opacity: 1;
}

.profile{
  background-image: url('./images/page2/blue box.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  border: $border;
  border-radius: 8px;
  @extend %flex_text_middle;
}
.btn-toolbar{
  .btn-group{
    button{
      padding: 20px 80px 0;
      background-color: rgba(255, 255, 255, .3);
      border: 3px solid #6d6d6d;
      border-radius: 5px;
      font-size: 3rem;
    }
  }
}

.nav-item,
.nav-iconItem,
.col{
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #262626;
  border-radius: 10px;
  @extend %flex_text_middle;
}
.nav-item{
  height: 60px;
  width: auto;
  font-size: 3.6rem;
  padding-top: 15px;
  img{
    height: 100%;
    width: auto;
    text-align: left;
    padding-right: 50px;
    padding-top: -15px;
  }
}
.nav-iconItem{
  width: 70px;
  height: 60px;
  padding: 0 5px;
  z-index: 1;
  img{
    width: 100%;
  }
}
$square: 200px;
$square_xs: 150px;

.square{
  @include square($square);
  position: fixed;
  bottom: calc(-3% - (#{$square} / 2));
  left: calc(50% - (#{$square} / 2));
  background-image: url('./images/page2/icon1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  @extend %flex_text_middle;
  .row{
    margin-top: 40px;
  }
}

// page 3
.col{
  margin: 0 5px;
  text-align: center;
  .text{
    margin-top: 30px;
    font-weight: 600;
  }
  img{
    width: 90%;
    height: auto;
    margin: auto;
  }
}

// page 4
#chooseRoom{
  font-size: 3rem;
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 5px;
  img{
    width: 30px;
  }
  th,
  td{
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid #262626;
    border-radius: 15px;
    padding-top: 20px; 
    
  }
  tbody{
    th{
      padding-top: 20px;            
    }
    tr{    
      &:hover,
      &:focus{
        background-color: rgba(255, 255, 255, 0.5);
      }      
      td{
        vertical-align: middle;
        text-align: center;
        padding-top: 20px;      
        font-weight: 600;
      }
    }
  }
}

// page 5
.room-title{
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #262626;
  border-radius: 10px;
  padding: 20px $margin 5px $margin;
  img{
    display: inline-block;
    margin-left: $margin;
    width: 30px;
  }
}
.panel,
.area{
  padding: $margin;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
#table-game{
  background-image: url('./images/page5/table.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 350px;
  @extend %flex_text_middle;
  img{
    max-width: 140px;
  }
}
.nlower{
  .col-2{
    padding: 0;
  }
  .player{
    top: 15%;
    left: 15%;
  }
}
.nupper{
  .player{
    top: 35%;
    left: 25%;
  }
}
.player{
  font-family: 'Prompt', sans-serif;
  font-size: 1.8rem;
  position: absolute;
  
}
.hilight{
  padding: 2px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}

// responsive
@media(max-width: $screen-xs-max ){
  .body{
    width: 100%;
    overflow-x: hidden;
  }
  .title{
    font-size: 5rem;
  }
  .text{
    font-size: 2.2rem;
  }
  .push_button{
    height: 40px;
    line-height: 60px;
  }
  #center-page1{
    margin-top: $margin * 3;
    line-height: 1;
    .images-list{
      img{
        width: 60px;
      }
    }
  }
  .container{
    max-width: 600px;
  }
  .profile{
    width: 60px;
    height: 60px;
    padding-top: 10px;
  }
  .nav-item{
    font-size: 2rem;
    padding: 10px 5px 5px;
    vertical-align: bottom !important;
    height: 40px;
    max-width: 150px;
    img{
      padding-right: 10px;
    }
  }
  .nav-iconItem{
    height: 40px;
    a{
      img{
        height: auto;
        width: 70%;
      }
    }
  }

  #center-page2{
    .push_button{
      margin-top: 30px;
    }
    .images-list{
      margin-top: 30px;
      img{
        width: 45px;
      }
    }
  }
  .square{
    @include square($square_xs);    
    position: fixed;
    bottom: calc(-2% - (#{$square_xs} / 2));
    left: calc(50% - (#{$square_xs} / 2));
    .row{
      margin-top: 20px;
    }
  }
  .col{
    margin: 0 2px;
    padding: 10px 5px;
    text-align: center;
    .text{
      margin-top: 15px;
    }
    img{
      width: 50%;
      height: auto;
      margin: auto;
    }
    .push_button{
      margin: 0;
      min-width: 70px;
    }
    .text{
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  #chooseRoom{
    font-size: 2rem;
    border-collapse: separate;
    border-spacing: 2px;
    img{
      width: 20px;
    }
    th,
    td{
      padding-top: 10px; 
    }
    tbody{
      th{
        padding-top: 5px;            
      }
      tr{       
        td{
          vertical-align: middle;
          text-align: center;
          padding-top: 10px;      
          font-weight: 600;
        }
      }
    }
  }
  // page 5
  .room-title{
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px 5px 0px;
    img{
      display: inline-block;
      margin-left: $margin;
      width: 20px;
    }
  }
  .panel,
  .area{
    padding: $margin;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
  .panel{
    max-height: 100px;
    overflow-y: scroll;
    .col-4{
      padding: 0;
    }
  }
  #table-game{
    height: 180px;
    img{
      max-width: 60px;
    }
  }
  .nlower{
    .text{
      font-size: 1.4rem;
    }
    .col-2{
      padding: 0;
      left: 10%;
    }
    .player{
      top: 15%;
      left: 0;
    }
  }
  .nupper{
    .text{
      font-size: 1.4rem;
    }
    .player{
      top: 35%;
      left: 20%;
    }
  }
  .player{
    font-size: 1.2rem;
  }
  .hilight{
    padding: 2px 15px;
  }
  
}
