$font_path: '../../../Game/assets/fonts';

@font-face {
    font-family: 'angerregular';
    src:    url('#{$font_path}/webfonts/st._anger_large_0-webfont.woff2') format('woff2'),
            url('#{$font_path}/webfonts/st._anger_large_0-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;

}